[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
"psycopg2" = "*"
dj-database-url = "*"
celery = "*"
praw = "*"
python-dotenv = "*"


[dev-packages]

pytest = "*"
pytest-django = "*"
pytest-sugar = "*"
"autopep8" = "*"
isort = "*"
django-extensions = "*"
pytest-mock = "*"
pytest-dotenv = "*"
pytest-faker = "*"
ipython = "*"
pytest-freezegun = "*"
